<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SafetyRectificationTemplateMapper">

    <resultMap type="SafetyRectificationTemplate" id="SafetyRectificationTemplateResult">
        <result property="templateId" column="template_id"/>
        <result property="templateName" column="template_name"/>
        <result property="safetyId" column="safety_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <association property="safetyRectification" column="safety_id" javaType="SafetyRectification"
                     select="selectSafetyRectification"/>
    </resultMap>

    <resultMap type="SafetyRectificationTemplateVo" id="SafetyRectificationTemplateVoResult">
        <result property="templateName" column="template_name"/>
        <collection property="safetyRectificationList" column="template_name" javaType="java.util.List"
                    ofType="SafetyRectification"
                    select="selectSafetyRectificationList"/>
    </resultMap>

    <sql id="selectSafetyRectificationTemplateVo">
        select template_id,
               template_name,
               safety_id,
               dept_id,
               user_id,
               create_by,
               create_time,
               update_by,
               update_time
        from safety_rectification_template
    </sql>

    <select id="selectSafetyRectificationTemplateList" parameterType="SafetyRectificationTemplate"
            resultMap="SafetyRectificationTemplateResult">
        <include refid="selectSafetyRectificationTemplateVo"/>
        <where>
            <if test="templateName != null  and templateName != ''">and template_name like concat('%', #{templateName},
                '%')
            </if>
            <if test="safetyId != null ">and safety_id = #{safetyId}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectSafetyRectificationTemplateByTemplateId" parameterType="Long"
            resultMap="SafetyRectificationTemplateResult">
        <include refid="selectSafetyRectificationTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <insert id="insertSafetyRectificationTemplate" parameterType="SafetyRectificationTemplate" useGeneratedKeys="true"
            keyProperty="templateId">
        insert into safety_rectification_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="safetyId != null">safety_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="safetyId != null">#{safetyId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSafetyRectificationTemplate" parameterType="SafetyRectificationTemplate">
        update safety_rectification_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="safetyId != null">safety_id = #{safetyId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteSafetyRectificationTemplateByTemplateId" parameterType="Long">
        delete
        from safety_rectification_template
        where template_id = #{templateId}
    </delete>

    <delete id="deleteSafetyRectificationTemplateByTemplateIds" parameterType="String">
        delete from safety_rectification_template where template_id in
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>

    <select id="selectSafetyRectification" resultType="SafetyRectification">
        SELECT *
        FROM safety_rectification
        WHERE id = #{safetyId}
    </select>

    <select id="getTemplateByTemplateName" resultType="SafetyRectificationTemplate">
        select dd.dict_label as template_name
        from sys_dict_data dd
        where dd.dict_type = 'project_safety'
          and dd.dict_label = #{templateName}
    </select>

    <select id="selectTemplateList" parameterType="SafetyRectificationTemplate"
            resultMap="SafetyRectificationTemplateVoResult">
        select
        dd.dict_type,
        dd.dict_label as template_name
        from sys_dict_data dd
        <where>
            and dd.dict_type = 'project_safety'
            <if test="templateName != null  and templateName != ''">and dd.dict_label like concat('%', #{templateName},
                '%')
            </if>
        </where>
    </select>

    <select id="selectSafetyRectificationList" resultType="SafetyRectification">
        SELECT a.*
        FROM safety_rectification a
                 left JOIN safety_rectification_template t on t.safety_id = a.id
        WHERE t.template_name = #{templateName}
    </select>

</mapper>